{% extends "base.html" %} {% load static %} {% block content %}

<form id="form" action="" method="POST">
    {% csrf_token %}
    <input type="text" name="uname" id="uname">
    <br>
    <br>
    <input type="text" name="email" id="email">
    <br>
    <br>
    <input type="text" name="address" id="address">
    <br>
    <br>
    <input type="submit" value="Submit">

</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.js" integrity="sha512-8Z5++K1rB3U+USaLKG6oO8uWWBhdYsM3hmdirnOEWp8h2B1aOikj5zBzlXs8QOrvY9OxEnD2QDkbSKKpfqcIWw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		
<script>

    $(document).ready(function () {

        console.log('Document is ready.')

        $(document).on('submit', '#form', function (e) {
            console.log('Submitted');
            e.preventDefault()

            $.ajax({
                type: 'POST',
                url: '',
                data: {
                    uname: $('#uname').val(),
                    email: $('#email').val(),
                    address: $('#address').val(),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                },
                success: function () {
                    console.log('Data submitted successfully.')
                },
                error: function () {
                    console.log('Error')
                }
            })

        })
    })



</script> {% endblock content %}